body{
   background-image: linear-gradient(#6db4ef, #188DEC);
	 font-family: arial;
   z-index: 1;
   height: 100%;
   padding: 0;
   margin: 0;
   height: 100vh
}

[draggable] {
  cursor: move;
}

main{
  text-align: center;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  /* display: none;  */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#playPicture{
  position: absolute;
  left: 0;
  right: 0;
  height: 15em;
  width: 15em;
  background-image: url(../images/playbutton.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 35vh auto 0 auto;
  z-index: 3;
  cursor: pointer;
}

#wrapper{
  display: flex;
  justify-content: space-around;
}

#alphaWrapper{
  width: 38em;
  margin-top: 6vh;
}

#alphaWrapperColor{
  width: 18em;
  height: 16em;
  margin-top: 30vh;
  padding-top: 4em;
  border: 5px solid yellow;
  border-radius: 6px;
  box-sizing: border-box;
}


@media only screen and (min-width: 1024px) {
  #alphaWrapper{
    margin-top: 15vh;
  }
}

@media only screen and (min-width: 1366px) {
  #alphaWrapper{
    margin-top: 17.5vh;
  }
}
